In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('./data/vivino_data_241107.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3675 entries, 0 to 3674
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   vintage_id               3675 non-null   int64
 1   vintage_name             3675 non-null   object
 2   vintage_year             3675 non-null   object
 3   vintage_price            3675 non-null   int64
 4   vintage_ratings_average  3675 non-null   float64
 5   vintage_ratings_count    3675 non-null   int64
 6   vintage_wine_id          3675 non-null   int64
 7   vintage_wine_name        3675 non-null   object
 8   vintage_winery           3674 non-null   object
 9   vintage_country          3675 non-null   object
 10  vintage_region           3675 non-null   object
 11  vintage_wine_type_id     3675 non-null   int64
 12  acidity                  3555 non-null   float64
 13  fizziness                507 non-null    float64
 14  intensity                3555 non-null   float64
 15  sweetness                3048 non-null   float64
 16  tannin                   2268 non-null   float64
 17  flavor                   3672 non-null   object
 18  foods                    3675 non-null   object
dtypes: float64(6), int64(5), object(8)
memory usage: 545.6+ KB

In [16]:
df.head()

,vintage_id,vintage_name,vintage_year,vintage_price,vintage_ratings_average,vintage_ratings_count,vintage_wine_id,vintage_wine_name,vintage_winery,vintage_country,vintage_region,vintage_wine_type_id,acidity,fizziness,intensity,sweetness,tannin,flavor,foods
0,177404982,Carl Loewen 1896 Riesling 2023,2023,82045,5.0,115,1945087,1896 Riesling 2023,Carl Loewen,Germany,Mosel,2,4.61,NaN,3.32,2.05,NaN,tree_fruit,"['Pork', 'Shellfish', 'Spicy food', 'Poultry',..."
1,1510217,Château Haut-Brion Pessac-Léognan (Premier Gra...,1989,3244496,4.8,1538,1152755,Pessac-Léognan (Premier Grand Cru Classé) 1989,Château Haut-Brion,France,Pessac-Léognan,1,4.22,NaN,4.08,1.67,4.23,oak,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul..."
2,2611979,Château Latour Grand Vin Pauillac (Premier Gra...,1982,2759686,4.8,1445,1655970,Grand Vin Pauillac (Premier Grand Cru Classé) ...,Château Latour,France,Pauillac,1,4.12,NaN,4.12,1.68,4.13,oak,"['Beef', 'Lamb', 'Game (deer, venison)', 'Poul..."
3,170413977,Domaines Ott Clos Mireille Rosé (Coeur de Grai...,2022,59594,4.8,581,1382222,Clos Mireille Rosé (Coeur de Grain) 2022,Domaines Ott,France,Côtes de Provence,4,3.77,NaN,2.50,1.33,NaN,citrus_fruit,"['Pork', 'Shellfish', 'Vegetarian', 'Poultry']"
4,1688597,Krug Clos du Mesnil 2000,2000,2175423,4.8,347,79635,Clos du Mesnil 2000,Krug,France,Champagne,3,4.54,4.22,3.97,NaN,NaN,non_oak,"['Pork', 'Rich fish (salmon, tuna etc)', 'Shel..."

In [17]:
df['vintage_wine_type_id'].unique()

array([ 2,  1,  4,  3, 24,  7, 25], dtype=int64)

## "foods" 컬럼 값 문자열의 나열로 변환

In [21]:
type(df['foods'][0])

str

In [22]:
# literal_eval: 문자열을 파이썬 코드로 파싱 처리
from ast import literal_eval

# str -> lst(dict) 변환
df['foods'] = df['foods'].apply(literal_eval)

In [23]:
type(df['foods'][0])

list

In [24]:
df['foods'] = df['foods'].apply(lambda food: ', '.join(food) if isinstance(food, list) else food)

In [25]:
df['foods']

0        Pork, Shellfish, Spicy food, Poultry, Cured Meat
1               Beef, Lamb, Game (deer, venison), Poultry
2               Beef, Lamb, Game (deer, venison), Poultry
3                    Pork, Shellfish, Vegetarian, Poultry
4       Pork, Rich fish (salmon, tuna etc), Shellfish,...
                              ...
3670                              Beef, Pasta, Veal, Pork
3671    Pork, Vegetarian, Poultry, Appetizers and snac...
3672                      Appetizers and snacks, Aperitif
3673
3674                      Appetizers and snacks, Aperitif
Name: foods, Length: 3675, dtype: object