In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
wine_data_df = pd.read_csv('./data/cleansingWine.csv', low_memory=False) # DtypeWarning: Columns (8,19,20) have mixed types. 나와서 low_memory=False 로 type 통일
print(wine_data_df.shape) # (21605, 32)
wine_data_df.head(5)

(21605, 32)

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,use,abv,degree,sweet,acidity,body,tannin,price,year,ml
0,0,137197,Altair,Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,137200,Baron du Val White,Baron du Val,France,NaN,NaN,NaN,NaN,Carignan,...,Table,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,NaN,NaN,NaN,Cabernet Sauvignon,...,Table,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750

In [13]:
# 결측치 제거
# abv 의 빈 셀을 0으로 대체
wine_data_df['abv'] = wine_data_df['abv'].fillna(0)

In [14]:
# 모든 컬럼의 비어있는 셀 none 값 추가
wine_data_df.map(lambda x: None if pd.isnull(x) else x)

,Unnamed: 0,id,name,producer,nation,local1,local2,local3,local4,varieties1,...,use,abv,degree,sweet,acidity,body,tannin,price,year,ml
0,0,137197,Altair,Altair,Chile,Rapel Valley,None,None,None,Cabernet Sauvignon,...,Table,14~15,17~19,SWEET1,ACIDITY4,BODY5,TANNIN4,220000,2014,750
1,1,137198,"Altair, Sideral",Altair,Chile,Rapel Valley,None,None,None,Cabernet Sauvignon,...,Table,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,110000,2016,750
2,2,137199,Baron du Val Red,Baron du Val,France,None,None,None,None,Carignan,...,Table,11~12,15~17,SWEET2,ACIDITY3,BODY2,TANNIN2,0,0,750
3,3,137200,Baron du Val White,Baron du Val,France,None,None,None,None,Carignan,...,Table,11~12,9~11,SWEET1,ACIDITY3,BODY2,TANNIN1,0,0,750
4,4,137201,"Benziger, Cabernet Sauvignon",Benziger,USA,California,None,None,None,Cabernet Sauvignon,...,Table,13~14,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,0,2003,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21600,21600,168703,"Besserat de Bellefon, Bleu Brut",Besserat de Bellefon,France,Champagne,None,None,None,Pinot Meunier,...,"Appetizer, Table",0,None,SWEET1,ACIDITY5,BODY2,TANNIN1,128000,0,750
21601,21601,168704,"Leopard’s Leap, Cuvee Brut",Leopards Leap,the Republic of South Africa,Coastal Region,Paarl,None,None,Chardonnay,...,"Appetizer, Table",12~13,6~8,SWEET1,ACIDITY5,BODY2,TANNIN1,40000,0,750
21602,21602,168705,"Leopard’s Leap, Chardonnay Pinot Noir",Leopards Leap,the Republic of South Africa,Western Cape,None,None,None,Chardonnay,...,"Appetizer, Table",12~13,10~12,SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21603,21603,168706,"Leopard’s Leap, Chardonnay",Leopards Leap,the Republic of South Africa,Coastal Region,Paarl,Wellington,None,Chardonnay,...,"Appetizer, Table",12~13,10~12,SWEET1,ACIDITY3,BODY2,TANNIN1,40000,2020,750
21604,21604,168707,"Leopard’s Leap, Culinaria Muscat",Leopards Leap,the Republic of South Africa,Breede River Valley,Robertson,None,None,Muscat,...,"Appetizer, Dessert",11~12,10~12,SWEET3,ACIDITY3,BODY3,TANNIN1,55000,2019,750

In [15]:
# 필요한 컬럼만 추출하여 새롭게 숫자형으로 변환
# 숫자 부분만 추출하여 새 컬럼으로 저장
wine_data_df['sweet_level'] = wine_data_df['sweet'].str.extract(r'(\d+)').fillna(0).astype(int)
wine_data_df['acidity_level'] = wine_data_df['acidity'].str.extract(r'(\d+)').fillna(0).astype(int)
wine_data_df['body_level'] = wine_data_df['body'].str.extract(r'(\d+)').fillna(0).astype(int)
wine_data_df['tannin_level'] = wine_data_df['tannin'].str.extract(r'(\d+)').fillna(0).astype(int)

# 변환 결과 확인
wine_data_df[['sweet', 'acidity', 'body', 'tannin', 'sweet_level', 'acidity_level', 'body_level', 'tannin_level']].head()

,sweet,acidity,body,tannin,sweet_level,acidity_level,body_level,tannin_level
0,SWEET1,ACIDITY4,BODY5,TANNIN4,1,4,5,4
1,SWEET1,ACIDITY3,BODY4,TANNIN4,1,3,4,4
2,SWEET2,ACIDITY3,BODY2,TANNIN2,2,3,2,2
3,SWEET1,ACIDITY3,BODY2,TANNIN1,1,3,2,1
4,SWEET1,ACIDITY3,BODY3,TANNIN4,1,3,3,4

In [16]:
# 필요없는 컬럼 삭제
wine_data_df = wine_data_df.drop(['Unnamed: 0', 'sweet', 'acidity', 'body', 'tannin', 'local3', 'local4', 'varieties4', 'varieties5', 'varieties6', 'varieties7', 'varieties8', 'varieties9', 'varieties10', 'varieties11', 'varieties12'], axis=1)

In [17]:
from sklearn.model_selection import train_test_split
# 데이터 분리 
X = wine_data_df.drop('price', axis=1)
y = wine_data_df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((17284, 19), (4321, 19), (17284,), (4321,))

In [18]:
X_train.columns

Index(['id', 'name', 'producer', 'nation', 'local1', 'local2', 'varieties1',
       'varieties2', 'varieties3', 'type', 'use', 'abv', 'degree', 'year',
       'ml', 'sweet_level', 'acidity_level', 'body_level', 'tannin_level'],
      dtype='object')

In [19]:
# CatBoost 데이터 준비
# - 범주형 데이터 처리를 위한 Pool 객체 생성
from catboost import Pool

# 카테고리 컬럼명 선언 (연속형 데이터 컬럼은 제외)
cat_features = ['id', 'name', 'producer', 'nation', 'local1', 'local2', 'varieties1',
       'varieties2', 'varieties3', 'type', 'use', 'abv', 'degree', 'year',
       'ml', 'sweet_level', 'acidity_level', 'body_level', 'tannin_level']

X_train = X_train.fillna('nan')
X_test = X_test.fillna('nan')

X_train_pool = Pool(X_train, y_train, cat_features=cat_features)
X_test_pool = Pool(X_test, y_test, cat_features=cat_features)

In [20]:
# CatBoostRegressor 회귀 모델 학습
from catboost import CatBoostRegressor

cb_reg = CatBoostRegressor(
    n_estimators=1000, # 반복횟수 (내부 예측기 개수) 
    learning_rate=0.03, # 학습률 (기본값) 
    depth=5, 
    loss_function='RMSE', # 손실함수 (기본값)
    eval_metric='RMSE' # 평가지표 (기본값)
)

# 훈련
cb_reg.fit(X_train_pool, eval_set=X_test_pool, verbose=100) # 200번째마다 출력

0:	learn: 250590.6416821	test: 254376.0173675	best: 254376.0173675 (0)	total: 219ms	remaining: 3m 38s
100:	learn: 200642.8715376	test: 209827.2597866	best: 209827.2597866 (100)	total: 4.7s	remaining: 41.9s
200:	learn: 191270.9798388	test: 205937.5644584	best: 205937.5644584 (200)	total: 8.63s	remaining: 34.3s
300:	learn: 185884.5678796	test: 203954.1503532	best: 203948.0579162 (298)	total: 12.9s	remaining: 29.9s
400:	learn: 182327.3716332	test: 202040.2556110	best: 202040.2556110 (400)	total: 17.3s	remaining: 25.8s
500:	learn: 179686.9717683	test: 201318.0858004	best: 201316.8163008 (499)	total: 21.2s	remaining: 21.1s
600:	learn: 176833.2947551	test: 199959.0195893	best: 199959.0195893 (600)	total: 26.1s	remaining: 17.3s
700:	learn: 174676.9105816	test: 199196.2861445	best: 199182.5701257 (697)	total: 30.8s	remaining: 13.1s
800:	learn: 172520.2417155	test: 198428.1801179	best: 198422.7678529 (796)	total: 37.4s	remaining: 9.29s
900:	learn: 170272.8411766	test: 197696.1457687	best: 197696.1457687 (900)	total: 42.9s	remaining: 4.72s
999:	learn: 168368.1487773	test: 197164.7215811	best: 197164.3667630 (998)	total: 48.5s	remaining: 0us

bestTest = 197164.3668
bestIteration = 998

Shrink model to first 999 iterations.

In [24]:
# 성능에 가장 영향력이 있는 특성은?
pd.DataFrame({
    'column': X_train.columns,
    'importance': cb_reg.feature_importances_
})

           column  importance
0              id    0.000000
1            name    0.000802
2        producer   24.704990
3          nation    2.240688
4          local1   11.758297
5          local2   10.350035
6      varieties1    4.147319
7      varieties2    0.654424
8      varieties3    1.012112
9            type    0.826338
10            use    0.213507
11            abv    8.177991
12         degree    0.459568
13           year   10.091697
14             ml    3.296063
15    sweet_level    0.192230
16  acidity_level    2.758839
17     body_level    5.255654
18   tannin_level   13.859445

In [30]:
wine_types = wine_data_df[['acidity_level', 'sweet_level', 'body_level', 'tannin_level']]
print(wine_types.shape)
wine_types

(21605, 4)

       acidity_level  sweet_level  body_level  tannin_level
0                  4            1           5             4
1                  3            1           4             4
2                  3            2           2             2
3                  3            1           2             1
4                  3            1           3             4
...              ...          ...         ...           ...
21600              5            1           2             1
21601              5            1           2             1
21602              3            1           2             1
21603              3            1           2             1
21604              3            3           3             1

[21605 rows x 4 columns]

In [33]:
# 사용자 데이터 입력
# acidity_level', 'sweet_level', 'body_level', 'tannin_level'
user_input = ['1', '4', '2', '1']
pred_results = []

for wine_type in wine_types:
    user_input = wine_type
    dgstfn_pred = cb_reg.predict(user_input)
    pred_results.append(dgstfn_pred)

print(pred_results)
pred_results

CatBoostError: Invalid data type=<class 'str'> : must be list, numpy.ndarray, pandas.Series, pandas.DataFrame, scipy.sparse matrix, catboost.FeaturesData or catboost.Pool

In [22]:
# 추천 결과 확인
result_df = pd.DataFrame({
    'wine_types': wine_types,
    'DGSTFN_PRED': pred_results,
})
result_df = result_df.sort_values(by='DGSTFN_PRED', ascending=False).head(10)
result_df

ValueError: Data must be 1-dimensional, got ndarray of shape (21605, 4) instead

In [47]:
def recommend_wine(acidity, fizziness, intensity, sweetness, tannin, n_recommendations=5):
    input_data = pd.DataFrame({
        'acidity': [acidity],
        'fizziness': [fizziness],
        'intensity': [intensity],
        'sweetness': [sweetness],
        'tannin': [tannin]
    })

    # Predict the target (e.g., rating or preference score) for the input data
    predicted_score = cb_reg.predict(input_data)

    wine_data_df['similarity'] = np.abs(wine_data_df['vintage_ratings_average'] - predicted_score) 
    recommendations = wine_data_df.sort_values('similarity').head(n_recommendations)

    # 추천 와인
    return recommendations[['vintage_wine_name', 'vintage_year', 'vintage_country', 'vintage_region', 'vintage_wine_type', 'flavor', 'acidity', 'fizziness', 'intensity', 'sweetness', 'tannin']] 

# 예제
user_acidity = int(input("Enter acidity level: "))
user_fizziness = int(input("Enter fizziness level: "))
user_intensity = int(input("Enter intensity level: "))
user_sweetness = int(input("Enter sweetness level: "))
user_tannin = int(input("Enter tannin level: "))

recommendations = recommend_wine(user_acidity, user_fizziness, user_intensity, user_sweetness, user_tannin)
print("Recommended wines based on your preferences:")
print(recommendations)

Recommended wines based on your preferences:
                                   vintage_wine_name vintage_year  \
822             Saint-Julien (Grand Cru Classé) 1968         1968
826                               Saint-Estèphe 1977         1977
827  Haut-Médoc (3éme Grand Cru Classé en 1855) 1969         1969
828        Nectar Impérial (Demi-Sec) Champagne N.V.         N.V.
829                  Margaux (Grand Cru Classé) 1987         1987

    vintage_country vintage_region vintage_wine_type      flavor  acidity  \
822          France   Saint-Julien               Red         oak        4
826          France  Saint-Estèphe               Red         oak        4
827          France     Haut-Médoc               Red         oak        4
828          France      Champagne         Sparkling  tree_fruit        4
829          France        Margaux               Red         oak        4

     fizziness  intensity  sweetness  tannin
822          0          4          2       4
826          0          4          2       4
827          0          4          2       4
828          4          4          0       0
829          0          4          2       4